* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  /*background-color: #DADFE1;*/
  z-index: 1;
  background-image: url("../images/background.jpg");
}

/* NAVIGATION */
.nav {
  width: 100%;
  height: 70px;
  background-color: #000;
  text-decoration: none;
  list-style: none;
  position: fixed;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-li {
  text-transform: uppercase;
  display: inline-block;
}

.nav-a {
  background-color: #fff;
  text-decoration: none;
  color: #3498DB;
  padding: 10px;
  line-height: 70px;
  margin: 0 10px 0 10px;
  border-radius: 10px;
}

.nav-a.active {
  background-color: #3498DB;
  color: #fff;
}

/* MENU */
.menu {
  width: 240px;
  height: 100%;
  background-color: #686868;
  position: fixed;
  z-index: -1;
  padding-top: 90px;
  margin: 0;
  resize: horizontal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}

.menu-list {
  list-style: none;
}

.menu-li {
  margin: 10px 0 10px 0;
  padding: 20px;
  cursor: pointer;
}

.menu-a {
  width: 100%;
  text-decoration: none;
  display: block;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-li.active {
  background-color: #fff;
  color: #686868;
}

.menu-li.active > .menu-a {
  color: #686868;
}

.menu-right {
  right: 0;
}

.menu-left {
  left: 0;
}

.menu-list > li {
  position:relative;
}

.menu-list > li[data-tooltip]:hover::after {
   content: attr(data-tooltip);
   position: absolute;
   left: 40px;
   top: 50px;
   min-width: 75px;
   border: 1px solid rgba(0,0,0,.15);
   border-radius: 2px;
   background: white;
   padding: 3px;
   color: #000000;
   font-size: 13px;
   box-shadow: 0 6px 12px rgba(0,0,0,.175);
   z-index: 1010;
}

/* MENU BOTTOM */
.menu-bottom {
  width: 100%;
  height: 70px;
  background-color: #686868;
  text-decoration: none;
  list-style: none;
  position: fixed;
  z-index: 3;
  bottom: 0;
}

.menu-li-bottom {
  display: inline-block;
  /*width: 240px;*/
}

.menu-a-bottom {
  /*width: 240px;*/
  text-decoration: none;
  color: #fff;
  padding: 10px;
  line-height: 70px;
  margin: 0 10px 0 10px;
  border-radius: 10px;
}

.menu-a-bottom.active {
  background-color: #fff;
  color: #686868;
}

.hidden {
  visibility: hidden;
}

/* WINDOW */
.window {
  width: 1000px;
  left: 270px;
  top: 70px;
  position: relative;
  z-index: 1;
}

.window-menu-right {
  left: 20px;
}

.title {
  position: relative;
  width: 65%;
  margin: 30px 0 20px 0;
  font-size: 28px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #686868;
}

.title:focus {
  border-width: 2px;
  border: 2px solid;
  border-color: #59ABE3;
  border-image: initial;
  background-color: #fff;
  border-radius: 5px;
}
